# Credential
configs
.env
*.env

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~


# npm
node_modules
*.log
*.gz
*.zip


# Coveralls
coverage

# Benchmarking
benchmarks/graphs

# Typescript
build/**/*